@model DigiPOSE.Models.InvoiceType
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-file-invoice-dollar text-cyan me-2"></i> INVOICETYPE DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.InvoiceTypeId)</td><td>@Model.InvoiceTypeId</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.TypeName)</td><td>@Model.TypeName</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.Description)</td><td>@Model.Description</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-cancel" data-bs-dismiss="modal" style="border-top: 1px solid aliceblue !important; border-bottom: 1px solid aliceblue !important; border-left: none !important; border-right: none !important; color: aliceblue !important; background: #222222 !important;"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>

