@model DigiPOSE.Models.Order

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-layer-group text-cyan me-2"></i> @(Model.OrderId == 0 ? "ADD NEW" : "EDIT") ORDER</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form class="ajax-modal-form" asp-action="@(Model.OrderId == 0 ? "Create" : "Edit")" asp-controller="Orders" >
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="OrderId" />
        <div class="modal-body">
            <div class="mb-3">
                <label asp-for="BranchId" class="form-cyber-label">@Html.DisplayNameFor(model => model.BranchId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="BranchId" asp-items="ViewBag.BranchId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ShiftId" class="form-cyber-label">@Html.DisplayNameFor(model => model.ShiftId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="ShiftId" asp-items="ViewBag.ShiftId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="ShiftId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserId" class="form-cyber-label">@Html.DisplayNameFor(model => model.UserId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="UserId" asp-items="ViewBag.UserId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CustomerId" class="form-cyber-label">@Html.DisplayNameFor(model => model.CustomerId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="CustomerId" asp-items="ViewBag.CustomerId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SnapshotCustomerName" class="form-cyber-label"></label>
                <input asp-for="SnapshotCustomerName" class="form-control form-cyber-control" />
                <span asp-validation-for="SnapshotCustomerName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SnapshotCustomerPhone" class="form-cyber-label"></label>
                <input asp-for="SnapshotCustomerPhone" class="form-control form-cyber-control" />
                <span asp-validation-for="SnapshotCustomerPhone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StatusId" class="form-cyber-label">@Html.DisplayNameFor(model => model.StatusId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="StatusId" asp-items="ViewBag.StatusId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PaymentMethodId" class="form-cyber-label">@Html.DisplayNameFor(model => model.PaymentMethodId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="PaymentMethodId" asp-items="ViewBag.PaymentMethodId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="GrossAmount" class="form-cyber-label"></label>
                <input asp-for="GrossAmount" class="form-control form-cyber-control" />
                <span asp-validation-for="GrossAmount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DiscountAmount" class="form-cyber-label"></label>
                <input asp-for="DiscountAmount" class="form-control form-cyber-control" />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TaxAmount" class="form-cyber-label"></label>
                <input asp-for="TaxAmount" class="form-control form-cyber-control" />
                <span asp-validation-for="TaxAmount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TotalAmount" class="form-cyber-label"></label>
                <input asp-for="TotalAmount" class="form-control form-cyber-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DiscountReason" class="form-cyber-label"></label>
                <input asp-for="DiscountReason" class="form-control form-cyber-control" />
                <span asp-validation-for="DiscountReason" class="text-danger"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal">CANCEL</button>
            <button type="submit" class="btn-cyber-success">SAVE</button>
        </div>
    </form>
</div>

