@model DigiPOSE.Models.User

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-layer-group text-cyan me-2"></i> @(Model.UserId == 0 ? "ADD NEW" : "EDIT") USER</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form class="ajax-modal-form" asp-action="@(Model.UserId == 0 ? "Create" : "Edit")" asp-controller="Users" >
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="UserId" />
        <div class="modal-body">
            <div class="mb-3">
                <label asp-for="RoleId" class="form-cyber-label">@Html.DisplayNameFor(model => model.RoleId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="RoleId" asp-items="ViewBag.RoleId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BranchId" class="form-cyber-label">@Html.DisplayNameFor(model => model.BranchId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="BranchId" asp-items="ViewBag.BranchId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-cyber-label"></label>
                <input asp-for="UserName" class="form-control form-cyber-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Role" class="form-cyber-label"></label>
                <input asp-for="Role" class="form-control form-cyber-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Branch" class="form-cyber-label"></label>
                <input asp-for="Branch" class="form-control form-cyber-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal">CANCEL</button>
            <button type="submit" class="btn-cyber-success">SAVE</button>
        </div>
    </form>
</div>

