@model DigiPOSE.Models.OrderDetail
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-list-ol text-cyan me-2"></i> ORDER LINE DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:40%;">LINE ID</td><td>#@Model.OrderDetailId</td></tr>
            <tr><td style="color:#00E5FF;">ORDER</td><td>#@Model.OrderId</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.ProductName)</td><td style="font-weight:600;">@Model.ProductName</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.UnitName)</td><td>@Model.UnitName</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.Quantity)</td><td style="color:#00FF66; font-family:'VT323'; font-size:1.3rem;">@Model.Quantity</td></tr>
            <tr><td style="color:#00E5FF;">UNIT PRICE</td><td style="color:#FFB000; font-family:'VT323'; font-size:1.1rem;">@string.Format("{0:N0}", Model.UnitPrice)</td></tr>
            <tr><td style="color:#00E5FF;">DISCOUNT</td><td style="color:#FFB000;">@string.Format("{0:N0}", Model.DiscountAmount) (-@Model.DiscountRate%)</td></tr>
            <tr><td style="color:#00E5FF;">TAX</td><td style="color:#A0C0CE;">@string.Format("{0:N0}", Model.TaxAmount) (@Model.TaxRate%)</td></tr>
            <tr><td style="color:#00E5FF;">TOTAL</td><td style="color:#00FF66; font-family:'VT323'; font-size:1.3rem; font-weight:bold;">@string.Format("{0:N0}", Model.TotalAmount) VNĐ</td></tr>
            <tr><td style="color:#00E5FF;">FREE ITEM?</td><td>@(Model.IsFree ? "YES" : "NO")</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-cancel" data-bs-dismiss="modal" style="border-top: 1px solid aliceblue !important; border-bottom: 1px solid aliceblue !important; border-left: none !important; border-right: none !important; color: aliceblue !important; background: #222222 !important;"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>

