@model DigiPOSE.Models.Invoice

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-layer-group text-cyan me-2"></i> @(Model.InvoiceId == 0 ? "ADD NEW" : "EDIT") INVOICE</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form class="ajax-modal-form" asp-action="@(Model.InvoiceId == 0 ? "Create" : "Edit")" asp-controller="Invoices" >
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="InvoiceId" />
        <div class="modal-body">
            <div class="mb-3">
                <label asp-for="OrderId" class="form-cyber-label">@Html.DisplayNameFor(model => model.OrderId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="OrderId" asp-items="ViewBag.OrderId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="InvoiceStatusId" class="form-cyber-label">@Html.DisplayNameFor(model => model.InvoiceStatusId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="InvoiceStatusId" asp-items="ViewBag.InvoiceStatusId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="InvoiceStatusId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="InvoiceTypeId" class="form-cyber-label">@Html.DisplayNameFor(model => model.InvoiceTypeId) <span style="color:#FF3333;">*</span></label>
                <select asp-for="InvoiceTypeId" asp-items="ViewBag.InvoiceTypeId" class="form-control form-cyber-control"></select>
                <span asp-validation-for="InvoiceTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Form" class="form-cyber-label"></label>
                <input asp-for="Form" class="form-control form-cyber-control" />
                <span asp-validation-for="Form" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Series" class="form-cyber-label"></label>
                <input asp-for="Series" class="form-control form-cyber-control" />
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="InvoiceNo" class="form-cyber-label"></label>
                <input asp-for="InvoiceNo" class="form-control form-cyber-control" />
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Date" class="form-cyber-label">@Html.DisplayNameFor(model => model.Date) <span style="color:#FF3333;">*</span></label>
                <input asp-for="Date" class="form-control form-cyber-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SignedDate" class="form-cyber-label"></label>
                <input asp-for="SignedDate" class="form-control form-cyber-control" />
                <span asp-validation-for="SignedDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ExchangeRate" class="form-cyber-label"></label>
                <input asp-for="ExchangeRate" class="form-control form-cyber-control" />
                <span asp-validation-for="ExchangeRate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CurrencyCode" class="form-cyber-label"></label>
                <input asp-for="CurrencyCode" class="form-control form-cyber-control" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OriginalInvoiceNo" class="form-cyber-label"></label>
                <input asp-for="OriginalInvoiceNo" class="form-control form-cyber-control" />
                <span asp-validation-for="OriginalInvoiceNo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OriginInvoiceReason" class="form-cyber-label"></label>
                <input asp-for="OriginInvoiceReason" class="form-control form-cyber-control" />
                <span asp-validation-for="OriginInvoiceReason" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TaxAuthorityCode" class="form-cyber-label"></label>
                <input asp-for="TaxAuthorityCode" class="form-control form-cyber-control" />
                <span asp-validation-for="TaxAuthorityCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="InvoiceLookupCode" class="form-cyber-label"></label>
                <input asp-for="InvoiceLookupCode" class="form-control form-cyber-control" />
                <span asp-validation-for="InvoiceLookupCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Order" class="form-cyber-label"></label>
                <input asp-for="Order" class="form-control form-cyber-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="InvoiceStatus" class="form-cyber-label"></label>
                <input asp-for="InvoiceStatus" class="form-control form-cyber-control" />
                <span asp-validation-for="InvoiceStatus" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="InvoiceType" class="form-cyber-label"></label>
                <input asp-for="InvoiceType" class="form-control form-cyber-control" />
                <span asp-validation-for="InvoiceType" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal">CANCEL</button>
            <button type="submit" class="btn-cyber-success">SAVE</button>
        </div>
    </form>
</div>
