@model DigiPOSE.Models.TaxType
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-percent text-cyan me-2"></i> TAXTYPE DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.TaxTypeId)</td><td>@Model.TaxTypeId</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.TaxName)</td><td>@Model.TaxName</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.TaxPercentage)</td><td>@Model.TaxPercentage</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.TaxXmlCode)</td><td>@Model.TaxXmlCode</td></tr>
            <tr><td style="color:#00E5FF;">STATUS</td><td><span class="badge @(Model.IsActive ? "bg-success" : "bg-secondary")">@(Model.IsActive ? "ACTIVE" : "INACTIVE")</span></td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-cancel" data-bs-dismiss="modal" style="border-top: 1px solid aliceblue !important; border-bottom: 1px solid aliceblue !important; border-left: none !important; border-right: none !important; color: aliceblue !important; background: #222222 !important;"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>


