@model DigiPOSE.Models.StockVoucherDetail
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-list-check text-cyan me-2"></i> VOUCHER LINE ITEM DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:40%;">LINE ITEM ID</td><td>#@Model.VoucherDetailId</td></tr>
            <tr><td style="color:#00E5FF;">VOUCHER</td><td>#@Model.VoucherId (@Model.StockVoucher?.VoucherType)</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.Product)</td><td style="font-weight:600;">@Model.Product?.ProductName</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.Quantity)</td><td style="color:#00FF66; font-family:'VT323'; font-size:1.3rem;">@Model.Quantity</td></tr>
            <tr><td style="color:#00E5FF;">ACTUAL PRICE</td><td style="color:#FFB000; font-family:'VT323'; font-size:1.3rem;">@string.Format("{0:N0}", Model.ActualPrice) VNĐ</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-cancel" data-bs-dismiss="modal" style="border-top: 1px solid aliceblue !important; border-bottom: 1px solid aliceblue !important; border-left: none !important; border-right: none !important; color: aliceblue !important; background: #222222 !important;"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>

