@model DigiPOSE.Models.OrderStatus
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-circle-dot text-cyan me-2"></i> ORDERSTATUS DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.StatusId)</td><td>@Model.StatusId</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.StatusName)</td><td>@Model.StatusName</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.BadgeColor)</td><td>@Model.BadgeColor</td></tr>
            <tr><td style="color:#00E5FF; width:35%;">@Html.DisplayNameFor(model => model.Description)</td><td>@Model.Description</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>
