@model DigiPOSE.Models.Invoice
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-file-signature text-cyan me-2"></i> INVOICE DETAILS</h5>
        <button type="button" class="btn-close-cyber" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <table class="table-cyber" style="font-family:'Roboto Mono'; font-size:0.9rem;">
            <tr><td style="color:#00E5FF; width:40%;">INVOICE ID</td><td>#@Model.InvoiceId</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.InvoiceNo)</td><td style="font-weight:600; color:#FFF;">@Model.InvoiceNo</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.Form)</td><td>@Model.Form / @Model.Series</td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.InvoiceType)</td><td>@Model.InvoiceType?.TypeName</td></tr>
            <tr><td style="color:#00E5FF;">STATUS</td><td><span class="badge bg-info">@Model.InvoiceStatus?.StatusName</span></td></tr>
            <tr><td style="color:#00E5FF;">@Html.DisplayNameFor(model => model.Date)</td><td>@Model.Date.ToString("dd/MM/yyyy")</td></tr>
            <tr><td style="color:#00E5FF;">SIGNED DATE</td><td>@(Model.SignedDate.HasValue ? Model.SignedDate.Value.ToString("dd/MM/yyyy") : "---")</td></tr>
            <tr><td style="color:#00E5FF;">ORDER</td><td>#@Model.OrderId</td></tr>
            <tr><td style="color:#00E5FF;">TAX AUTH CODE</td><td>@(Model.TaxAuthorityCode ?? "---")</td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cyber-primary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-1"></i> CLOSE</button>
    </div>
</div>
